@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important; /* Sets the background to white */
  -webkit-text-fill-color: black !important; /* Ensures text color is black */
  transition: background-color 5000s ease-in-out 0s; /* Prevents flashing effect */
}
.active-nav {
  background-color: inherit !important;
  color: #bf9444 !important;
  border-color: #bf9444 !important;
}
.menu li > *:not(ul, .menu-title, details, .btn):active {
  background-color: inherit !important;
  color: #bf9444 !important;
}
.home-banner {
  background-image: url("/assets/homebg.jpg");
}
html {
  scroll-behavior: smooth;
}

.hid{
  display: none;
}

.gallery-card:hover .hid{
  display: block;
}